# Billeto Keys
ACCESS_KEY_ID = 'xyz'
SECRET_ACCESS_KEY = 'abc'
BILLETO_BASE_URL = 'https://billetto.dk/api/v3/'
BILLETO_PUB_EVENTS_PATH = 'public/events'

# CLERK keys
CLERK_SECRET_KEY='def'
CLERK_PUBLISHABLE_KEY = 'ghi'
CLERK_SIGN_IN_URL = 'https://pqr/sign-in'
CLERK_SIGN_UP_URL = 'https://pqr/sign-up'
CLERK_SIGN_IN_FORCE_REDIRECT_URL = 'http://localhost:3000/'
CLERK_SIGN_UP_FORCE_REDIRECT_URL = 'http://localhost:3000/'

# Other keys below